absl==0.0
absl_py==0.11.0
autocorrect==2.5.0
beautifulsoup4==4.10.0
fake_useragent==0.1.11
googletrans==3.0.0
googletrans_temp==2.3.0
gTTS==2.2.2
language_tool_python==2.6.1
lxml==4.6.3
matplotlib==3.3.4
numpy==1.19.3
OpenCC==1.1.1
opencv_contrib_python==4.5.3.56
openpyxl==3.0.7
Pillow==8.4.0
pycallgraph==1.0.1
pydub==0.25.1
pygame==2.0.1
PyMySQL==1.0.2
PyQt5==5.15.6
pytesseract==0.3.7
requests==2.25.1
selenium==3.141.0
setuptools==47.1.0
six==1.15.0
